@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Yeseva+One&display=swap');

body, html, #root {
  height: 100%;
  overflow: auto;
}

.App {
  text-align: center;
  height: 100%;
  overflow: auto;
}

.App-content {
  background:rgba(0, 0, 0, .5);
  height: 100%;
  overflow: auto;
}

.App-wrapper {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-logo {
  margin: 2rem auto;
  height: 30vmin;
  width: 100%;
  pointer-events: none;
  fill: white;
  filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .7));
}

.App-header {
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-name-section {
  padding: 3rem 6rem;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  margin: auto;
}

.App-name-section-top,
.App-name-section-bottom {
  padding: 3rem 6rem 0 6rem;
  color: white;
}

.generated-slur {
  display: inline-block;
  font-family: 'Yeseva One', cursive;
  font-size: 2em;
  margin-bottom: 3rem;
}

.adress,
.generated-title {
  display: inline-block;
  font-size: 3em;
}

.sub-title {
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  color: #d89047;
}

.page-title {
  font-family: 'Yeseva One', cursive;
  color: #d89047;
  font-size: 3rem;
}

.adress {
  font-size: 5em;
  margin-bottom: 4rem;
}

.generated-title {
  font-family: 'Yeseva One', cursive;
  font-weight: normal;
}

.generated-name {
  display: inline-block;
  font-family: 'Yeseva One', cursive;
  font-size: 5em;
}

.App-name-bottom button {
  font-family: 'Caveat', cursive;
  cursor: pointer;
  padding: 15px 25px;
  border: 4px solid #af8159;
  background: #895c35;
  color: white;
  font-size: 2em;
  font-weight: normal;
  border-radius: 5px;
  margin: 4rem 1rem 6rem 1rem;
  box-shadow: 0px 0px 5px #000;
  transition: 0.2s box-shadow ease-in-out,
              0.2s border-color ease-in-out;
}

.App-name-bottom button:hover {
  border-color: #d3a681;
  box-shadow: 0px 10px 20px #000;
}


.App-name-bottom button.button-randomize {
  background: #3A2E63;
  border-color: #6148B0;
}

.App-wrapper footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align:center;
  display: block;
  padding: 20px 0;
  align-self: flex-end;
  background: black;
  font-size: .8em;
}

.App-wrapper footer, 
.App-wrapper footer a {
  color: white;
}

.App-custom-name {
  font-family: 'Caveat', cursive;
  width: 15vw;
  padding: 18px 25px;
  font-size: 2em;
  border-radius: 5px;
  outline: none;
  border: 4px solid #af8159;
  margin: 0 1rem;
}